@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2.0-Regular.otf") format("opentype");
}
html {
  font-family: "Exo 2", "Droid Sans";
}
pre, tt, code, samp {
  font-family: "Courier New"
}
header {
  font-style: initial;
  margin-top: 4ch;
  margin-bottom: 4ch;
}
.accent {
  color: darkorange;
}
h1 {
  font-size: xx-large;
  font-weight: lighter;
}
h3 {
  font-size: medium;
}
a {
  color: initial;
}
address {
  font-style: initial;
}
p {
  margin-top: .4em;
}
