@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2.0-regular.otf") format("opentype");

  font-family: "Exo 2 Bold";
  src: url("../fonts/Exo2.0-Bold.otf") format("opentype");
}
html {
  font-family: "Exo 2", "Droid Sans";
}
h3 {
  font-family: "Exo 2 Bold", "Droid Sans Bold";
}
pre, tt, code, samp {
  font-family: "Courier New"
}
header {
  font-style: initial;
  margin-top: 4ch;
  margin-bottom: 4ch;
}
.accent {
  color: darkorange;
}
h1 {
  font-size: 2em;
  font-weight: lighter;
}
h2 {
  font-weight: initial;
}
h3 {
  font-size: 1em;
}
a {
  color: initial;
}
address {
  font-style: initial;
}
p {
  margin-top: .4em;
}
hr {
  border: none;
  height: 0.05em;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, .2)
  );
}
