main {
  display: flex;
  justify-content: center;
}
article {
  /* I'm really not a fan of absolute values. This setting can be interpreted
  thus: "I don't know how to make things flush against containers, so give me
  a margin big enough to write stuff there." This value is then referenced
  later when positioning things that go in the margin. */
  margin-left: 16ch;
  max-width: 80ch;
}
h3 {
  margin: initial;
}
ul, ol {
  list-style-type: none;
  padding: initial;
}
li, header {
  position: relative;
}
li {
  margin-top: 2ch;
  margin-bottom: 2ch;
}
/* Put stuff into margin. I'd like to find a more flexible way of doing this
tthan using abolute positioning */
.margin {
  position: absolute;
  top: 0ch;
  left: -16ch;
  text-align: right;
  width: 14ch;
  color: grey;
}
address img {
  width: 3ch;
}
