body {
  display: flex;
  justify-content: center;
  margin: 2em;
}
main {
  /* I'm really not a fan of absolute values. This setting can be interpreted
  thus: "I don't know how to make things flush against containers, so give me
  a margin big enough to write stuff there." This value is then referenced
  later when positioning things that go in the margin. */
  padding-left: 16ch;
  max-width: 80ch;
}
h3 {
  margin: initial;
}
h2 {
  margin-bottom: 0.5em;
}
ul, ol {
  list-style-type: none;
  padding: initial;
}
li, header {
  position: relative;
}
li {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* Put stuff into margin. I'd like to find a more flexible way of doing this
tthan using abolute positioning */
.margin {
  position: absolute;
  top: 0ch;
  left: -15ch;
  text-align: right;
  width: 14ch;
  color: grey;
}
.margin img {
  max-width: 3ch;
}
.logo {
  top: -4ch;
}
